html,body,#app{
    height:100%;
    min-width: 980px;
  }
*{
    margin:0;
    padding:0;
}
.el-card.is-always-shadow {
  margin-top: 10px;
  box-shadow: 0 2px 1px rgba(0,0,0,.15);
}
.el-table {
  margin-top: 10px;
}